* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

nav {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  height: 62px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left {
  display: flex;
  align-items: center;
  width: 100%;
}

.left ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.left ul li {
  padding: 0 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .3px;
  color: #090909;
  line-height: 62px;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.left img {
  width: 53px;
  height: 36px;
  padding: 0 50px;
}

.container img,
.section img,
.section1 img,
.section3 img,
.section5 img,
.section7 img {
  cursor: pointer;
  width: 100%;
  background-size: cover;
}

.section img,
.section2 img,
.section4 img,
.section6 img,
.section8 img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.section2 img,
.section4 img,
.section6 img,
.section8 img {
  width: auto;
  max-width: 285px;
  height: 380px;
}

.section4 img,
.section6 img,
.section8 img {
  max-width: 290px;
  height: 345px;
}

.section6 img {
  max-width: 291px;
  height: 375px;
}

.right {
  display: flex;
  align-items: center;
  width: 100%;
}

.right input {
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  width: 60%;
  color: #696e79;
  padding: 8px 10px;
  outline: 0;
  border: 1px solid #f5f5f6;
  border-radius: 4px;
  background: #f5f5f6;
}

.icons {
  display: flex;
  margin: 0 42px;
}

.profile,
.wish,
.bag {
  color: #000;
  font-size: 14px;
  font-weight: 800;
  padding: 0 13px;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 0 220px;
}

.row,
.row-2 {
  display: flex;
  margin-bottom: 20px;
}

.online-shopping,
.customer-policies,
.app {
  text-align: left;
  margin-right: 50px;
}

.row-2 {
  flex-direction: column;
  align-items: flex-start;
}

.content-heading,
.other-info-heading {
  color: black;
  font-weight: 600;
  letter-spacing: normal;
}

.para-content {
  margin: 25px 0 40px;
}

.copyright-container,
.office-address-content,
.other-info-para-content {
  margin-bottom: 30px;
}

.horizontal-line,
.horizontal-line2 {
  margin-bottom: 30px;
  opacity: 0.2;
  height: 0.3px;
}

.other-info-heading {
  font-size: 15px;
  opacity: 0.8;
}

.other-info-para-content {
  margin-top: 8px;
  font-size: 13px;
  opacity: 0.8;
}

.download-button {
  display: flex;
  margin-top: 30px;
}

.download-button img {
  width: 130px;
  height: 40px;
}

.social-links {
  margin-top: 12px;
}

.fb-icon,
.tw-icon,
.yt-icon {
  margin-right: 6px;
}

.men-section-items,
.women-section-items,
.kids-section-items,
.home-section-items,
.beauty-section-items {
  background-color: #fff;
  display: flex;
  position: absolute;
  width: 1050px;
  height: 510px;
  right: 1px;
  left: 130px;
  padding: 15px 45px;
  z-index: 10;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
  margin-right: 70px;
  margin-top: 15px;
}

.category {
  margin-bottom: 11px;
}

.category-items {
  margin-top: 8px;
  line-height: 1.6;
  font-size: 14px;
  opacity: 0.95;
}

.visibility {
  display: none;
}

.category-heading {
  color: #ee6780;
  font-weight: bold;
  font-size: 14px;
}
